[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BalancedSampling"]
	path = BalancedSampling
	url = https://github.com/cran/BalancedSampling
	shallow = true
	registered = true
